.list{
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.title{
    font-family: Roboto,sans-serif;
    letter-spacing: .02em;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    color: #ffffff90;
}
.text{
    font-family: Roboto,sans-serif;
    letter-spacing: .02em;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.2;
    color: #ffffff90;
    text-align: justify;
}
.par{
    font-family: Roboto,sans-serif;
    letter-spacing: .02em;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
    color: #ffffff90;
    text-align: center;
}